@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  background-color: #FFF;
  border: 1px solid #fc6565 !important;
  margin-bottom: 2px !important;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 0.9em;
  opacity: 0;
  color: #fc6565;
  font-family: "Montserrat", Arial, sans-serif;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}