@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:wght@700&display=swap');

/* Configurações iniciais */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFF;
}

:root{
    --dark-blue: #076980;
    --blue: #08A6C5;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-align: center;
}

h1{
    font-size: 2.83rem;
    margin-bottom: 8vh;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}

h5{
    font-size: 1.25rem;
}

p, blockquote{
    font-family: "Nunito", "Arial", sans-serif;
    font-weight: 400;
}

.white-background{
    background-color: transparent;
    color: var(--dark-blue);
}

.blue-background{
    background-color: var(--blue);
    color: #FFF;
}

.dark-background{
    background-color: var(--dark-blue);
    color: #FFF;
}

section{
    margin-bottom: 5vh;
}

footer{
    background-color: #F0F0F0;
    color: #000;
}

.medium{
    font-weight: 400;
}

@media (max-width: 600px) and (min-width: 320px)
{
    h1{
        font-size: 2.125rem;
    }

    h2{
        font-size: 2rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1.25rem;
    }

    h5{
        font-size: 0.75rem;
    }
}

/* Header */
header{
    padding: 0.8em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */
header .logo img {
    height: 5rem; 
    width: auto;
}

header nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2vw;
}

header nav ul li a{
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #d6d6d6;
}

/* Responsividade */
@media (max-width: 900px) {
    header{
        padding: 0.8em 1em;
    }

    header .logo img {
        height: 3rem;
    }
    header nav ul li a h4{
        font-size: 1.15rem;
    }
}

@media (max-width: 600px) {
    header .logo img {
        height: 2.5rem;
    }
    header nav ul li a h4{
        font-size: 1rem;
    }
}


@media (max-width: 450px) {
    header{
        padding: 0.8em 0.2em;
    }

    header nav ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas */
        grid-template-rows: auto auto; /* duas linhas */
        gap: 0.4em;
        width: 100%;
        text-align: center;
    }

    header nav ul li a h4{
        font-size: 1rem;
    }

    header nav ul li:nth-child(4),
    header nav ul li:nth-child(5) {
        grid-column: span 1; /* cada item ocupa 1 coluna */
    }

    header nav ul li:nth-child(4) {
        grid-column: 1 / 2; /* vai para a esquerda */
    }

    header nav ul li:nth-child(5) {
        grid-column: 2 / 3; /* vai para o meio */
    }

    header .logo img {
        height: 1.875rem;
    }
}

/* Seção - Início imagem do consultório */
#inicio{
    background-image: url('/src/img/consultorio.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}


/* Especialidades/Serviços */
#especialidades ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    max-width: 1440px;
    margin: 0 auto;
    gap: 3.188rem;
    justify-content: center;
    transition: all;
}

#especialidades figure{
    position: relative;
    display: flex;
    flex-flow: column;
    max-width: 25rem;
    overflow: hidden;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.5);
}

#especialidades figure img{
    display: block;
    max-width: 25rem;
    max-height: 25rem;
    border-radius: 7px;
}

#especialidades figure:hover img{
    display: block;
    border-radius: 7px;
}

#especialidades figure figcaption{
    background-color: rgba(4, 120, 139, 0.91);
    color: #FFF;
    border-radius: 0 0 7px 7px;
    width: 100%;
    position: absolute;
    bottom: 0; /* gruda na parte inferior */
    transition: all .7ss ease-in-out;
    padding-top: 1rem;
}

#especialidades figure figcaption h4{
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1rem;
    transition: all .7s ease-in-out;
}

#especialidades figure figcaption p{
	font-size: 1.125rem;
    max-height: 0;        /* esconde */
    opacity: 0;           /* invisível */
    overflow: hidden;     /* não deixa vazar */
    transition: all .7s ease-in-out;
    margin-left: 1rem;
}

#especialidades figure:hover figcaption p{
  max-height: 300px;
  opacity: 1; 
  margin-bottom: 1rem;
}

@media (max-width: 600px) and (min-width: 320px)
{
    #especialidades ul{
        max-width: 100vw;
    }

    #especialidades figure{
        max-width: 18rem;
    }

    #especialidades figure figcaption p{
        font-size: 0.938rem;
    }

    #especialidades figure:hover figcaption h4{
        margin-bottom: 0.4rem;
    }
}

/* Depoimentos */
#depoimentos{
    margin-top: 10vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

#depoimentos ul{
    display: flex;
    padding-bottom: 20px;
}

#depoimentos .swiper .swiper-pagination{
    margin-bottom: 5px;
}

#depoimentos .swiper-button-prev{
    left: var(--swiper-navigation-sides-offset, 60px);
    right: auto;
}

#depoimentos .swiper-button-next{
    left: auto;
    right: var(--swiper-navigation-sides-offset, 60px);
}

#depoimentos .swiper-button-prev, .swiper-button-next.swiper-button-next{
    color: #FFF;
    background-color: transparent;
    border: none;
    margin-top: -15rem;
    top: auto;
}

#depoimentos .swiper-pagination-bullet-active{ 
    background-color: #FFF;
}

#depoimentos ul li{
    width: 20.295rem;
    height: 19.438rem;
    border-radius: 7px;
    margin-bottom: 7vh;
    list-style: none;
    padding-left: 1.438rem;
    padding-right: 1.438rem;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.5);
}

#depoimentos ul li .quotes{
    font-family: "Plus Jakarta Sans", "Arial", sans-serif;
    font-size: 6rem;
}

#depoimentos ul li .below{
    text-align: end;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: -1rem;
}

#depoimentos ul li blockquote{
    font-size: 1rem;
    margin-top: -3rem;
    height: 8.063rem;
}

#depoimentos ul li cite{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100%;
    justify-content: center;
    font-style: normal;
    margin-top: -4rem;
    margin-bottom: 0.6rem;

}

#depoimentos ul li .stars{
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1.5rem;
    color: #ffe14b;
}

@media (max-width: 600px) and (min-width: 320px){
    #depoimentos ul li{
        width: 15rem;
        height: 16rem;
        padding-left: 1.438rem;
        padding-right: 1.438rem;
    }

    #depoimentos ul li .quotes{
        font-size: 4.375rem;
    }

    #depoimentos ul li .below{
        margin-top: -0.3rem;
    }

    #depoimentos ul li blockquote{
        font-size: 0.8rem;
        margin-top: -2.5rem;
        height: 7.5rem;
    }

    #depoimentos ul li cite{
        margin-top: -3.5rem;
        margin-bottom: 0.6rem;
        font-size: 0.938rem;
    }

    #depoimentos ul li .stars{
        font-size: 1.3rem;  
    }

    #depoimentos .swiper-button-prev{
        left: var(--swiper-navigation-sides-offset, 20px);
        right: auto;
    }

    #depoimentos .swiper-button-next{
        left: auto;
        right: var(--swiper-navigation-sides-offset, 20px);
    }
}